{
  "name": "@pankhllm/__PLATFORM__",
  "version": "__VERSION__",
  "description": "pankhllm prebuilt binary for __PLATFORM__",
  "os": ["__OS__"],
  "cpu": ["__CPU__"],
  "files": ["bin"],
  "license": "MIT"
}
